body{
	background-color: black;
}

.admin{
	display:none;
}



.bigBtn{
	font-family: arial;
	font-size: 18px;
	width: 148px;
	height: 40px;
	margin-bottom:10px;
	background-color:black;
	color:white;
}

.midBtn{
	font-family: arial;
	font-size: 18px;
	width: 99px;
	height: 40px;
	margin-bottom:10px;
	background-color:black;
	color:white;
}

.fullBtn{
	font-family: arial;
	font-size: 18px;
	width: 300px;
	height: 40px;
	margin-bottom:10px;
	background-color:black;
	color:white;
}

.divider{
	height: 40px;
}
.menuLabel{
	font-family: arial;
	color:white;
	font-size: 20px;
	padding-top:8px;
	display: inline-block;
}

.menuTitle{
	font-family: arial;
	color:white;
	font-size: 18px;
	margin-bottom: 0px;

}
#dutyCycle{
	margin-bottom: 	10px;
}
#dutyCycleProgressBar{
	background-color:green;
	width:0%;
	height:2px;
}
#motorCoolDown{
	margin-bottom: 	10px;
	width:300px;
	font-family: 	arial;
	font-size:20px;
	color:red;
	text-align: 	center;
}
#motorCoolDownProgressBar{
	background-color:red;
	width:50%;
	height:30px;
	margin-top: 20px;
}
#adminLoginPanel{
	display:none;
	position:fixed;
	top:100px;
	background-color:black;
	height:200px;
	width:300px;
	padding:20px;
	color:white;
	font-family: arial;
	font-size: 20px;
	border: 2px solid white;
}
#pinwrapper{

}

.fr{
	float: 	right;
}

.fc{
	clear: both;
}

